// // Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// // Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

// // To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Garamond Nova Cond L";
  src: font-url('GaramondNovaCondL_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Replica";
  src: font-url('Replica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Replica";
  src: font-url('Replica-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
