.container-sonhorama{
  // padding: 25px;
  background-color: black;

    p{
      color: #E2E1E2;
      font-family: "Replica";
      font-weight: light;
      font-size: 20px;
      margin-top: 8px;
    }

    .about-sonhorama{
      padding-right: 160px;
    }
}

.about-cover{
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

.about-title-div{
  width: 100%;
  text-align: center;
  z-index: 2; // make sure the slogan is in front of the background image
  white-space: nowrap;
  margin-top: 10px;
}

.about-title{
  // font-family: "Garamond Nova Cond L";
  // color: #E2E1E2;
  // text-transform: uppercase;
  // font-size: 9.89vw;
  // margin: 10px 0;
  // padding: 0;
  // line-height: .9;
  // max-width: 100%;
  font-family: "Garamond Nova Cond L";
  text-align: center;
  color: white;
  font-size: 10vw!important;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 10px 0;
  padding: 0;
}
