// .container-sonhorama{
//   padding: 25px;
//   background-color: black;
//   position: relative;

//     p{
//       color: #e2e2e2;
//       font-family: "Replica";
//       font-weight: light;
//       font-size: 20px;
//       margin-top: 8px;
//       position: r;
//     }

//     .about-sonhorama{
//       padding-right: 15%;
//     }
// }

// .about-cover{
//   max-width: 100%;
//   aspect-ratio: 16 / 9;
//   object-fit: cover;
//   border-radius: 12px;
// }

// .about-title-div{
//   width: 100%;
//   text-align: center;
//   z-index: 2; // make sure the slogan is in front of the background image
//   white-space: nowrap;
// }


// .about-title{
//   font-family: "Garamond Nova Cond L";
//   text-align: center;
//   color: #e2e2e2;
//   font-size: 10.38vw;
//   font-weight: 500;
//   text-transform: uppercase;
//   line-height: 1;
//   padding: 0;
//   margin: 0 0 0 0;
// }


.container-sonhorama {
  position: relative;
  padding: 25px;
  background-color: black;
}

.about-cover {
  max-width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 12px;
}

.about-title-div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-title {
  font-family: "Garamond Nova Cond L";
  text-align: center;
  color: #e2e2e2;
  font-size: 10.38vw;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

.about-sonhorama p,
.about-third-column p,
.contact-sonhorama p {
  color: #e2e2e2;
  font-family: "Replica";
  font-weight: light;
  font-size: 20px;
  margin-top: 8px;
  position: relative;
  z-index: 1;
}

.about-sonhorama {
  padding-right: 15%;
}


.estrelas-about{
  width: 100%;
  text-align: center;
  margin: 40px auto 90px auto;
}

.clients-svg{
  filter: invert(97%)  saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  max-width: 480px;
  text-align: right;
}

@media (max-width:1440px){
	// .about-title{
	// 	font-size: 10vw;
	// }
  .about-sonhorama{
    padding-right: 60px!important;
  }
}

@media (max-width:900px){
  .about-sonhorama{
    padding-right: 40px!important;
  }
}

@media (max-width:700px){
  .about-title{
    font-size: 9.7vw;
  }
  .about-sonhorama{
    padding-right: 20px!important;
  }
}
@media (min-width:768px){
  .about-third-column{
    padding-left: 40px;
  }
}

@media (max-width: 576px){
  .about-sonhorama{
    padding-right: 30px!important;
  }
}
