.containershow {
  background-color: black;
  color: #e2e2e2;
  padding: 0 20px;

  h1 {
    color: white;
    font-family: 'Garamond Nova Cond L';
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: 300;
    margin-top: 0px;
    padding: 0px;
    line-height: .8;
  }

}

.project-title{
  min-width: 400px;
  padding-right: 40px;
  margin-top: 20px;
}
.project-banner{
  max-width: 100vw;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  margin-top: 60px;
}

.about-cover{
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  border-radius: 12px;

}

.project-description{
  font-size: 1.5vw;
  font-weight: light;
  margin-top: 20px;
  font-family: "Replica";
  padding-right: 15%;
  line-height: 1.1;
}

.project-description .trix-content{
  line-height: 1.2!important;
}

.project-credits{
  margin-top: 20px;
}

.project-credit-content{
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  max-height: 0px;
  transition: .3s ease;
  opacity: 0;
  transform: translateY(-20px);
}

.project-credit-content.active{
  max-height: 500px;
  opacity: 1;
  transform: translateY(0px);

}

// .project-credits .hide-credits {
//   overflow: hidden;
//   animation: slide-up 0.4s ease-in-out ;
//   transition: opacity 0.4s ease, height 0.4 s ease;
// }

// .project-credits .show-credits {
//   animation: slide-down 0.5s ease-in-out;
//   transition: opacity 0.3s ease-in, height 0.3s ease-in;
// }



// @keyframes slide-down {
//   0% {
//     opacity: 0;
//     max-height: 0px;
//     transform: translateY(-20px);
//   }
//   100% {
//     opacity: 1;
//     max-height: 1000px;
//     transform: translateY(0);
//   }
// }

// @keyframes slide-up {
//   0% {
//     opacity: 1;
//     max-height: 1000px;
//     transform: translateY(0);
//   }
//   100% {
//     opacity: 0;
//     max-height: 0px;
//     transform: translateY(-20px);
//   }
// }

/* Add these transition properties to the hide-credits class */


.client{
  margin-bottom: 30px;
}

.project-content{
  line-height: 1.1;
}
.project-details{
  text-transform: capitalize;
  margin: 0px;
  color: rgb(215, 215, 215);
  font-size: 1rem;
}
.project-images-container{
  padding-bottom: 40px;
  padding-top: 30px;
  // padding-left: 200px;
  // padding-right: 200px;
}

.credits-plus{
  cursor: pointer;
}

.project-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-bottom: 15px;
}

.project-image {
  width: 100%;
  // max-height: 100vh;
  object-fit: contain;
  object-position: center;
  border-radius: .6vw!important;
}

.show-final-credits{
  display: flex;
  flex-wrap: wrap;
  gap: 200px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 5px;
}

.show-final-credits p{
  font-weight: 600;
  color: #e2e2e2!important;
}
