<footer class="footer" data-controller="ticker" data-ticker-target="container">
  <div class="news-ticker">
    <div class="message-container">
      <p class="ticker-content">
        BUILDING NEW REALITIES <%= image_tag 'estrela.svg', style: 'height: 40px; margin: 0px 10px' %> CONSTRUINDO NOVAS REALIDADES <%= image_tag 'estrela.svg', style: 'height: 40px; margin: 0px 10px' %>
      </p>
    </div>
    <div class="message-container">
      <p class="ticker-content">
        BUILDING NEW REALITIES <%= image_tag 'estrela.svg', style: 'height: 40px; margin: 0px 10px' %> CONSTRUINDO NOVAS REALIDADES <%= image_tag 'estrela.svg', style: 'height: 40px; margin: 0px 10px' %>
      </p>
    </div>
  </div>
</footer>
