<footer class="footer">
  <div class="news-ticker">
    <span><p id="news-ticket-text">
    SONHORAMA is a production and consultancy studio specialized in building projects, narratives and aesthetics universes that orbits around arts, music, audiovisual, literature, courses and games.
    SONHORAMA is a production and consultancy studio specialized in building projects, narratives and aesthetics universes that orbits around arts, music, audiovisual, literature, courses and games.
    SONHORAMA is a production and consultancy studio specialized in building projects, narratives and aesthetics universes that orbits around arts, music, audiovisual, literature, courses and games.
    </p></span>

  </div>
</footer>
