<div class="container-sonhorama">

  <%= image_tag 'team.jpg', class:'about-cover' %>

  <div class="about-title-div">
    <span class="about-title">Building new realities</span>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-5 about-sonhorama">
      <p><strong>About</strong><br>SONHORAMA is a production and consultancy studio specialized in building projects, narratives and aesthetics universes that orbits around arts, music, audiovisual, literature, courses and games.</p>
      <p>We are based in Rio de Janeiro and we work with global companies - such as Netflix, NYT, Globo, YouTube, Spotify - and with independent artists, publishing groups and local brands.</p>
      <p>SONHORAMA provides graphic design, art direction, brand identity, illustration, lettering, audiovisual, web & app programming, digital & social media design and editorial design.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 contact-sonhorama">
      <p><strong>Contact</strong><br>hello@sonhorama.com</p>
      <p><strong>Social</strong><br>Instagram • LinkedIn</p>
      <p><strong>Team</strong><br>Giovanna Cianelli<br>Founder & Creative Director</p>
      <p>Daniel Lameira<br>Founder & Creative Director</p>
      <p>Victoria Servilhano<br>Graphic Designer </p>

    </div>

    <div class="col col-md-4 about-third-column">
      <p><strong>Awards</strong><br>Multishow Award · Cover of the Year · 2022<br>
      Multishow Award · Cover of the Year · 2021<br>
      Jabuti Award · Cover · 2022<br>
      Jabuti · Graphic Project · 2021<br>
      LAD Awards · Editorial/Complete Book · 2022<br>
      LAD Awards · Editorial/Complete Book · 2021<br>
      LAD Awards · Editorial/Complete Book · 2020<br></p>

      <p style="margin-top: 30px"><strong>Clients</strong></p>
      <%= image_tag "sonhorama_clients.svg", class:'clients-svg'%>

    </div>

  </div>

  <div class="estrelas-about">
    <%= image_tag "estrelas_about.svg", style:'height: 80px; margin: 0px 10px'%>
  </div>

</div>
