<div class="homepage">
  <div class="home-content">

    <div class="slogan">
      <h1>BUILDING NEW REALITIES</h1>
    </div>
    <div class="logo">
      <%= image_tag 'logo-icone.jpg' %>
    </div>

  </div>
</div>

<script>
  // Get the width of the p element
  const newsTickerTextWidth = document.getElementById('news-ticker-text').offsetWidth;

  // Set the width of the news-ticker element to be the samesdadas
  document.querySelector('.news-ticker').style.width = `${newsTickerTextWidth}px`;
</script>
