<div class="containerindex">

  <div class="container-fluid index-projects">

    <% @projects.each do |project| %>

      <% if project %>

        <%= link_to project_path(project) do  %>
          <%= image_tag project.thumbnail, class:'index-thumbs' %>
        <% end %>

      <% end %>
    <%end%>

  </div>

</div>
