<div class="index-projects container-fluid">

  <% @projects.each do |project| %>

    <% if project.present? %>

      <%= link_to project_path(project), class:'thumbs-projetinhos' do  %>
        <%= cl_image_tag project.thumbnail.key, class:'index-thumbs' %>
        <p class="thumb-title"><%= project.title %></p>
      <% end %>

    <% end %>

  <%end%>

</div>
