<div class="container-fluid index-projects">

  <div class="row">
    <div class="col">
      <%= link_to project_path(@projects.first) do  %>
        <%= image_tag @projects.first.thumbnail, class:'index-thumbs' %>
      <% end %>
    </div>

     <div class="col">
      <%= image_tag @projects.first.thumbnail, class:'index-thumbs' %>
    </div>
  </div>

</div>
