<div class="index-projects container-fluid">

  <% @projects.each do |project| %>

    <% if project.present? %>

      <%= link_to project_path(project) do  %>
        <%= cl_image_tag project.thumbnail.key, class:'index-thumbs' %>
      <% end %>

    <% end %>

  <%end%>

</div>
