.index-projects{
  padding: 100px 20px;
  background-color: rgb(0, 0, 0);
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 80px;
}


.index-thumbs{
  max-width: 100%;
  padding: 20px;
  transition: ease .3s;

}


// .index-thumbs:hover{
//   border: 1px solid #E2E1E2;
//   scale: 1.025;
// }
.thumbs-projetinhos{
  scale: 1;
  transition: .3s;
  color: white;
  text-decoration: none;
  text-decoration-line: white;
  text-decoration-color: white;

}
.thumbs-projetinhos:hover{
  color: white;
  border: 1px solid #e2e1e2;
  scale: 1.02;
}

@media (max-width: 900px)
{
  .index-projects
   {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
   }
}

@media (max-width: 600px)
{
  .index-projects
   {
    grid-template-columns: 1fr ;
    padding: 10px;
   }
}
