.index-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-bottom: 80px;
  margin-top: 60px;
  padding: 0 3vw;
}

.index-thumbs {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 50px;
}

.index-thumbs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-thumbs {
  position: relative;
  transition: .3s;
}

.project-thumbs:hover {
  color: #e2e2e2;
  border: 1px solid #e2e1e2;
  transform: scale(1.02);
}

.thumb-title-container {
  position: absolute;
  bottom: -2px;
  right: -1.5vw;
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  z-index: 5;
  text-align: left;
}

.thumb-title {
  font-family: Replica;
  font-size: 2vh;
  color: #e2e2e2;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  white-space: nowrap;
  text-transform: uppercase;
  text-align: start;
  white-space: nowrap;
  word-wrap: break-word;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.project-thumbs:hover .thumb-title-container {
  z-index: 2;
  opacity: 1;
}

@media (max-width: 1400px)
{
   .thumb-title-container{
    right: -1.8vw;
   }
}

@media (max-width: 900px)
{
  .index-projects
   {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px 40px;
   }
   .thumb-title-container{
    right: -2.6vw;
   }
}

@media (max-width: 600px)
{
  .index-projects
   {
    grid-template-columns: 1fr ;
    padding: 2vh 7vw;
   }
   .thumb-title-container{
    right: -4vw;
   }
}
