.index-projects{
  padding-top: 100px;
  background-color: rgb(0, 0, 0);
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 80px;
}

.index-thumbs{
  max-width: 100%;
  padding: 20px;
}

@media (max-width: 900px)
{
  .index-projects
   {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
   }
}

@media (max-width: 600px)
{
  .index-projects
   {
    grid-template-columns: 1fr ;
    padding: 10px;
   }
}
