// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }


.navbar {
  font-family: 'Replica', sans-serif;
  font-weight: bold;

  background-color: black;
  padding: 10px 1.2vw;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
  }

  .navbar-part1{
    display: flex;
    margin-left: 5px;
    gap: 40px;
  }
  .nav-link {
    font-size: 1.3vw;
    color: #e2e2e2;
    text-decoration: none;
    z-index: 10;
    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
    // &.left {
    //   margin-left: 15px;
    // }
    // &.right {
    //   margin-right: 15px;
    // }
  }

  .star{
    height: 1.4vw;
    width: 1.4vw;
    margin: 0 -5px;
    padding: 0;
    filter: invert(100%) sepia(0%) saturate(2878%) hue-rotate(346deg) brightness(90%) contrast(97%);
  }
}

@media (max-width: 960px) {
  .nav-link{
    font-size: 1.5vw!important;
    white-space: nowrap;
  }
  .star {
    height: 2vw!important;
    width: 2vw!important;
    margin: 0;
  }
}

@media (max-width: 720px) {
  .nav-link{
    font-size: 1.9vw!important;
    white-space: nowrap;
  }
  .star {
    height: 2.5vw!important;
    width: 2.5vw!important;
    margin: 0;
  }

}
@media (max-width: 560px) {
  .nav-link{
    font-size: 2.2vw!important;
    white-space: nowrap;
  }
  .star {
    height: 3vw!important;
    width: 3vw!important;
    margin: 0;
  }
}
