.footer {
  background-color: #e2e2e2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 40px;
  width: 100%;
  white-space: nowrap;
}

.news-ticker {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: max-content;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

.message-container {
  display: inline-block;
  white-space: nowrap;
}

.ticker-content {
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  display: inline-block;
  animation: tickerAnimation 20s linear infinite;
}

.ticker-star{
  color: #e2e2e2;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0 10px;
}
.ticker-content img {
  padding-bottom: 10px;
}

@keyframes tickerAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

// @keyframes scrollText {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(-100%);
//   }
// }

@media (max-width: 640px) {
  .ticker-content {
    font-size: 1rem;
  }
  .ticker-star {
    height: 30px;
    width: 30px;
  }
}
