.footer {
  background-color: #e2e2e2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 40px;
  width: 100%;
  white-space: nowrap;
}

// .news-ticker {
  // position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
  // width: max-content;
  // height: 100%;
  // background-color: transparent;
  // overflow: hidden;
// }

.message-container {
  display: inline-block;
  white-space: nowrap;
  animation: tickerAnimation 20s linear infinite;
  animation-delay: -20s;
}

.news-ticker div:nth-child(2) {
  animation: tickerAnimation2 20s linear infinite;
  animation-delay: -10s;
}

.ticker-content {
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  // display: inline-block;
  // animation: tickerAnimation 40s linear infinite;
}


// SONHORAMA STAR
.ticker-star{
  color: #e2e2e2;
  height: 40px;
  width: 40px;
  display: inline-block;
  // margin: 0 10px;
}
.ticker-content img {
  padding-bottom: 10px;
}



// TICKER ANIMATION

@keyframes tickerAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes tickerAnimation2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}





// MEDIA QUERIES TO MOBILE

@media (max-width: 769px) {
  .footer{
    height: 30px;
  }
  .ticker-content {
    font-size: 1rem;

    img{
      scale: 0.8;
      margin: 0;
    }
  }
  .ticker-star {
    height: 30px;
    width: 30px;
    margin: 0 4px;
  }
}
